.header {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    background-color: var(--color-secondary);
    justify-content: space-around;
    align-items: center;
}

.header .title {
    padding: 0.5rem 0;
    margin-left: 1rem;
}

.main-wrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.footer-options {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 75%;
    bottom: 1rem;
    gap: 1rem;
    margin-left: 1rem;
}

.footer-options .clear{
    background-color: var(--color-error);
}

.footer-options .clear:hover{
    background-color: var(--color-error-hover);
}

@media screen and (max-width: 1100px) {
    .main-wrapper {
        flex-direction: column;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header .title {
        grid-column: span 2;
        text-align: center;
        margin-left: 0;
    }

    .header .toggle-container {
        justify-content: center;
        padding-bottom: 1rem;
    }

    .footer-options{
        position: relative;
        margin-top: 2rem;
    }
}